DIV.globalsearchformzone {
	HEIGHT: 37px; BACKGROUND: #cfcfcf; PADDING-BOTTOM: 0px; PADDING-TOP: 11px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 40px
}
DIV.globalsearchformzone DIV.globalsearchform {
	HEIGHT: 24px; FLOAT: left; COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT: 12px/24px Arial, Helvetica, sans-serif; PADDING-LEFT: 0px; MARGIN: 0px 0px 0px 6px; PADDING-RIGHT: 0px
}
DIV.globalsearchformzone DIV.globalsearchform1 {
	FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 24px; PADDING-RIGHT: 0px
}
DIV.globalsearchformzone DIV.globalsearchform .input {
	BORDER-TOP: #999 1px solid; HEIGHT: 20px; BORDER-RIGHT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; FLOAT: left; COLOR: #767676; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; MARGIN: 0px; BORDER-LEFT: #999 1px solid; LINE-HEIGHT: 21px; PADDING-RIGHT: 0px; WIDTH: 140px
}
DIV.globalsearchformzone DIV.globalsearchform1 .imgbutton {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
